body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: #f4f4f4;
    padding: 150px;
    
}
.resume-container{
    display: flex;
    background-color: white;
    width:80%;
    margin:auto;
    border-radius :10px;
    box-shadow:  0 0 20px rgba(0,0,0,0.1) 
}
/* Left Section Styling*/
.left-section {
    background-color: #2c2c2c;
    color: white;
    padding: 20px;
    width: 35%;
    text-align: center;
    border-right: 5p solid #e63946;
    
}
h1{
    font-size: 24px;
    margin: 10px;
    text-align: center;
    margin-bottom: 30px;
}
h3{
    font-size: 18px;
    padding: 2%;
    margin: 20px 0 10px;
    color: black;
    border-radius: 10px; 
    box-shadow: 0 0 15px #e63946;
    margin-top: 5%;
    margin-bottom: 5%;
}

ul li{
    margin: 5px 0;
}

/*Right section*/
.right-section{
    padding: 20px; 
    width: 65%;
}

button {
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px;
    box-shadow: 0 0 15px red  ;
    cursor: pointer;
    margin-top: 10px; 
    font-size: 18px;
}

button:hover{
    background-color: #ff737c;
}

    

